/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.demo-container.clocks {
    background: #fff;
    padding: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.clock {
    border-radius: 50%;
    background: radial-gradient(#000, #000 0.1em, #fff 0.1em, #fff), #fff;
    display: inline-block;
    margin: 1%;
    padding-bottom: 31%;
    position: relative;
    top: 50%;
    width: 31%;
    opacity: 0;
    transform: translateY(-40%);
}

/*Put in a no-js alternative so they're not invisible*/

.clock.show {
    opacity: 1;
    transform: translateY(-50%);
    transition: all 2.5s 0.5s cubic-bezier(.12,1.03,.34,1);
}

.swarovski .clock::after {
    background: transparent;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 521px;
    top: 398px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    z-index: 10;
}


.clock::after {
    background: red;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 4%;
    height: 4%;
    z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*    position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 50%;
        width: 900px;
        height: 900px;
        margin-left: -450px;
        margin-top: -450px;*/
}
.swarovski .video-bground {
    position: absolute;
    top: 0;
    left: 0;
    width: 1044px;
    height: 900px;
}
.swarovski .video-bground video {
    height: 100%;
    min-height:100%;
    width: 100%;
    min-width: 100%;
}


.swarovski .minutes-container, 
.swarovski .hours-container, 
.swarovski .seconds-container {
    position: absolute;
    top: 394px;
    right: 0;
    bottom: 0;
    left: 50%;
    width: 900px;
    height: 900px;
    margin-left: -450px;
    margin-top: -450px;
}

.hours-container {
    animation: rotate 43200s infinite linear;
}

.linear {
    .minutes-container {
        animation: rotate 3600s infinite linear;
    }
    .seconds-container {
        animation: rotate 60s infinite linear;
    }
}

.steps {
    .minutes-container {
        animation: rotate 3600s infinite steps(60);
    }
    .seconds-container {
        animation: rotate 60s infinite steps(60);
    }
}

.local.steps {
    .minutes-container {
        animation: none;
    }
}

.bounce {
    .minutes-container {
        transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
    }
    .seconds-container {
        transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
    }
}

.hours {
    background: #000;
    width: 3.5%;
    height: 40%;
    position: absolute;
    left: 48.25%;
    top: 22%;
    transform-origin: 50% 71%;
}

.swarovski .hours {
    background: transparent url(../img/Watchface_HOUR.png) no-repeat;
    
/*  
    background-position: 0 176px;
    width: 49px;
    height: 40%;
    position: absolute;
    left: 47.15%;
    top: 22%;
    transform-origin: 50% 71%;*/
    background-position: center 370px;
    width: 900px;
    height: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center;
    z-index: 8;
    margin-left: -450px;
    margin-top: -450px;
}
/*
.swarovski .hours::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  content: '';
  background-color: #f0f;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}*/

.swarovski .minutes {
    background: transparent url(../img/Watchface_MINUTE.png) no-repeat;
    background-position: -2px 249px;
}

.swarovski .seconds {
    background: transparent url(../img/Watchface_SECOND.png) no-repeat;
    background-position: 439px 307px;
    width: 900px;
    height: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center;
    z-index: 8;
    margin-left: -450px;
    margin-top: -450px;
}


.minutes {
    background: #000;
    width: 3.5%;
    height: 55%;
    position: absolute;
    left: 48.25%;
    top: 7%;
    transform-origin: 50% 78.5%;
}

.seconds {
    background: red;
    width: 1.5%;
    height: 42%;
    position: absolute;
    left: 49.25%;
    top: 20%;
    transform-origin: 50% 71%;

    z-index: 8;
}
.foo {

}

/*.seconds::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  content: '';
  background-color: #f0f;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}*/

.label {
    background: #fff;
    border-radius: 0.25em;
    color: #000;
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 0.75em 0.25em;
    position: absolute;
    top: -4em;
    left: 50%;
    transform: translate(-50%, 0);
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.swarovski .align-center {
    text-align: center;
}

.swarovski.video .clock {
    background: transparent url(../img/Swarovski_CLOCK_WatchfaceElements.png) no-repeat center;
}
.swarovski .clock {
    background: transparent url(../img/Watchface_Background.png) no-repeat center;
    background-size: 100%;
    box-shadow: initial;
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 1044px;
    height: 900px;
    overflow: hidden;
    transform: initial;
}

.clock.station {
    background: #fff url(../img/station_clock.svg) no-repeat center;
    background-size: 95%;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.2) inset;
}

.clock.station .seconds::before {
    background: red;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: -9%;
    left: -200%;
    height: 18%;
    width: 500%;
}

.clock.ios7 {
    background: #fff url(../img/ios_clock.svg) no-repeat center;
    background-size: 88%;
}

.clock.ios7:before {
    background: black;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6%;
    height: 6%;
    z-index: 0;
}

.clock.ios7:after {
    width: 2%;
    height: 2%;
}

.clock.ios7 .seconds {
    border-radius: 200%/10%;
    height: 30%;
    left: 49.5%;
    top: 20%;
    width: 1%;
    transform-origin: 50% 100%;
}

.clock.ios7 .minutes {
    border-radius: 150%/10%;
    width: 2%;
    height: 35%;
    left: 49%;
    top: 15%;
    transform-origin: 50% 100%;
}

.clock.ios7 .hours {
    border-radius: 85%/10%;
    width: 2%;
    height: 20%;
    left: 49%;
    top: 30%;
    transform-origin: 50% 100%;
}


.clock.simple {
    background: #fff url(/assets/images/posts/clocks/ios_clock.svg) no-repeat center;
    background-size: 88%;
}

.clock.simple:after {
    background-color: #000;
    width: 5%;
    height: 5%;
}

.clock.simple .seconds {
    background-color: #000;
    height: 45%;
    left: 49.5%;
    top: 14%;
    width: 1%;
    transform-origin: 50% 80%;
}

.clock.simple .minutes {
    width: 2%;
    height: 40%;
    left: 49%;
    top: 10%;
    transform-origin: 50% 100%;
}

.clock.simple .hours {
    width: 2.5%;
    height: 20%;
    left: 48.75%;
    top: 30%;
    transform-origin: 50% 100%;
}

.hours.angled {
    transform: rotateZ(-40deg);
}

.minutes.angled {
    transform: rotateZ(40deg);
}
