@font-face {
    font-family: 'futura_md_btmedium';
    src: url('../fonts/futura_medium_bt-webfont.woff2') format('woff2'),
         url('../fonts/futura_medium_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'futuralight';
    src: url('../fonts/futura_light_font-webfont.woff2') format('woff2'),
        url('../fonts/futura_light_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_bk_btbook';
    src: url('../fonts/futura_book_font-webfont.woff2') format('woff2'),
         url('../fonts/futura_book_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    background: #fff;
}

h1{
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.swarovski h2 {
    font-size: 60px;
}

.swarovski {
    width: 1044px;
    height: 900px;
    position: relative;
}

.swarovski .video-bground {
    position: absolute;
    left: 0;
    top: 0;
    width: 1044px;
    height: 900px;
    z-index: 1;
}
.swarovski .middle-layer {
    background: transparent url(../img/Swarovski_NYE_COUNTDOWN_Elements.png) no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 1044px;
    height: 900px;
}

.swarovski .clock-layer {
    position: absolute;
    left: 50%;
    top: 333px;
    transform: translateX(-50%);
    /*    border: 1px solid #000;*/
    z-index: 3;
}

.swarovski .count-timer, .swarovski .message {
    font-size: 105px;
    display: table;
    font-family: 'futura_bk_btbook', sans-serif;
}
.swarovski .count-timer span {
    display: inline-block;
    vertical-align: bottom;
    line-height: 74px;
}

.swarovski .count-timer span:after{
    content: ':';
    display: inline-block;
    line-height: 60px;
    vertical-align: top;
    margin-left: 7px;
    margin-right: 7px;

}

.swarovski .count-timer span:last-child:after {
    display: none;
}
